[submodule ".registry"]
	path = .registry
	url = https://github.com/joeroe/joeroe.r-universe.dev
	branch = HEAD
[submodule "era"]
	path = era
	url = https://github.com/joeroe/era
[submodule "rpaleoclim"]
	path = rpaleoclim
	url = https://github.com/joeroe/rpaleoclim
