[submodule ".registry"]
	path = .registry
	url = https://github.com/joeroe/universe
	shallow = true
	branch = HEAD
[submodule "era"]
	path = era
	url = https://github.com/joeroe/era
	shallow = true
	registered = true
